
<div class="material-table-component">

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataTable">
<!-- Generic column definition -->
<div *ngIf="dataTable">
 <ng-container [matColumnDef]="dataTable" *ngFor="let dataTable of columnHeader">
    <th mat-header-cell *matHeaderCellDef>{{  dataTable }}</th>
    <td mat-cell *matCellDef="let element"> {{element[dataTable] }}</td>
  </ng-container>
</div>
<!--Columns-->
<tr mat-header-row *matHeaderRowDef="columnHeader"></tr>
<mat-row *matRowDef="let row; columns: columnHeader"></mat-row>
    
</mat-table>


</div>