
<div class="material-table-component mat-elevation-z8">

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<mat-table  [dataSource]="dataTable">
<!-- Generic column definition -->
 <ng-container *ngFor="let data of columnHeader"  [matColumnDef]="data" >
    <th mat-header-cell *matHeaderCellDef>{{  data }}</th>
    <td mat-cell *matCellDef="let element"> {{element[data] }}</td>
  </ng-container>

<tr mat-header-row *matHeaderRowDef="columnHeader"></tr>
<mat-row *matRowDef="let row; columns: columnHeader"></mat-row>
    
</mat-table>


</div>